<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.rep.mapper.ConsumptionMapper">
    <resultMap id="consumptionEntityMap" type="com.zhang.rep.entity.Consumption">
        <result column="id" property="id"/>
        <result column="production_id" property="productionId"/>
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="mid" property="mid"/>
        <result column="name" property="name"/>
        <result column="quantity" property="quantity"/>
        <result column="remarks" property="remarks"/>
    </resultMap>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO erp.t_consumption(production_id, product_id,
                                      product_name, mid, name,
                                      quantity, remarks)
                                      VALUES (
                                                 #{productionId},#{productId},
                                            #{productName},#{mid},#{name},
                                              #{quantity},#{remarks}
                                             )
    </insert>

    <select id="select" resultMap="consumptionEntityMap">
        SELECT * FROM erp.t_consumption
        <where>
            <if test="id != null">
               AND id = #{id}
            </if>
            <if test="productionId != null">
               AND production_id like concat(#{productionId},'%')
            </if>
            <if test="productName != null">
               AND product_name like concat('%',#{productName},'%')
            </if>
        </where>
        limit #{pageNo},8
    </select>

    <update id="update">
        UPDATE erp.t_consumption
        SET remarks=#{remarks}
        WHERE production_id=#{productionId}
    </update>

    <delete id="delete">
        DELETE FROM erp.t_consumption WHERE production_id=#{productionId}
    </delete>
</mapper>